@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--font-large: "Julius Sans One";
	--font-calm: "Poiret One";
	--font-regular: "Inter";
}

:root[data-theme="light"] {
	--text: rgb(16, 30, 27);
	--alt-text: rgb(225, 239, 236);
	--background: rgb(235, 244, 241);
	--primary: rgb(45, 83, 73);
	--secondary: rgb(149, 172, 198);
	--accent: rgb(80, 94, 149);
}

:root[data-theme="dark"] {
	--text: rgb(225, 239, 236);
	--alt-text: rgb(16, 30, 27);
	--background: rgb(11, 20, 17);
	--primary: rgb(172, 210, 200);
	--secondary: rgb(57, 80, 106);
	--accent: rgb(106, 120, 175);
}

html,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}
